﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>see on teise kontrolleri view</p>
@for (int j = 0; j < ViewBag.kordi; j++)
{
<p>@ViewBag.teade</p>
}
<div>
    
        @{ 
            int i = 7;
            int u = 8;
            string[] nimed = { "Henn", "Ants", "Peeter" };
        }
        <h3>@(i+u)</h3>
    <ol>
        @foreach(var x in nimed)
        {
            <li>@x</li>
        }
    </ol>
    <h2>Me oskame arvutada:</h2>
    <ul>
        @for(int j=0; j < 10; j++)
        {
            <li>@j  ruut on <b>@(j*j)</b></li>
        }
    </ul>

    
</div>

