﻿@model IEnumerable<MVCDemo2.Models.Inimene>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!-- see on htmli kommentaar -->
@* see on kommentaar htmli osas, mis ei lähe klindi poolele*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vanus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    // see on c# kommentaar
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vanus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
